@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.overly-gradiant {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 0,
    rgba(0, 0, 0, 0.8) 5%,
    rgba(0, 0, 0, 0.2) 30%
  );
}
.overly-gradiant-2 {
  background: linear-gradient(
    to right,
    rgba(199.5, 220.5, 220.5, 1) 30%,

    rgba(199.5, 220.5, 220.5, 0.2) 90%,
    rgba(199.5, 220.5, 220.5, 0) 100%
  );
}
.name {
  font-size: calc(0.7em + 3vw);
  font-weight: 600;
}

.poster {
  background: linear-gradient(
    to right,
    rgba(3, 37, 65, 1) 0%,
    rgba(3, 37, 65, 0.3) 100%
  );
}
.search {
  background: linear-gradient(
    to right,
    rgba(30, 213, 169, 1) 0%,
    rgba(1, 180, 228, 1) 100%
  );
}
.select {
  background: linear-gradient(
    to right,
    rgba(192, 254, 207, 1) 0%,
    rgba(30, 213, 169, 1) 100%
  );
}
body {
  height: 100vh;
}
